<div class='container'>
  <div class='row'>
    <div class='col-md-6' >
      <div class="card center-block" style="width: 20rem;">
        <!-- <img class="card-img-top" src="book_open_tate.png" alt="Card image cap"> -->
        <div class="card-body">
          <h4 class="card-title text-center">旅行記録の投稿</h4>
          <p class="card-text text-center">こちらから旅行の投稿ができます</p>
          <a href="#" class="btn btn-primary center-block">Go!</a>
        </div>
      </div>
    </div>
    <div class='col-md-6'>
      <div class="card center-block" style="width: 20rem;">
        <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
        <div class="card-body">
          <h4 class="card-title text-center">旅行の企画</h4>
          <p class="card-text text-center">こちらから旅行の企画を行えます</p>
          <a href="#" class="btn btn-primary center-block">Go!</a>
        </div>
      </div>
    </div>
  </div>
</div>

<br>

<%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary center-block", style:"width:200px;" %>
