<%= javascript_include_tag 'slideshow.js' %>
<%= javascript_include_tag 'jquery.bgswitcher.js' %>
<div id="bg-slider" style="margin-top: -40px; margin-bottom: -40px;">
<h1 id="Sitetitle">Memorip</h1>
<h3 class='center' id='description'>このサイトでは旅行プランの作成と共有が簡単にできます！</h3>
<div class='container'>
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div class="row">
          <div class="col-12">
          <h4 id="planDescript_title">直感的にプランを作成！</h4>
          <p id="planDescript">Memoripではアカウント登録の有無に関わらず、誰でも簡単にマップを見ながら旅行プランの作成が出来ます。これからの旅行のしおりとして、もしくは既に行った旅行プランの記録としてお使い頂けます。</p>
          </div>
          <div class="col-12">
            <div class="card center-block linkBox planningBox mx-auto">
              <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
              <div class="card-body">
                <h4 class="card-title text-center">旅行プランを作成する</h4>
                <a href="/create" class="center-block"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="row">
          <div class="col-12">
          <h4 id="tweetDescript_title">簡単にプランを共有！</h4>
          <p id="tweetDescript">Memoripではアカウント登録の有無に関わらず、作成した旅行プランをSNSのように投稿する事が出来ます。これから旅行に行く人は他の人のプランを参考に出来ますし、旅行の思い出を残したい方にも便利です。</p>
          </div>
          <div class="col-12">
            <div class="card center-block linkBox postBox mx-auto">
              <!-- <img class="card-img-top" src="book_open_tate.png" alt="Card image cap"> -->
              <div class="card-body">
                <h4 class="card-title text-center">投稿されたプランを見る</h4>
                <a href="/plans" class="center-block"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
<%= link_to "アカウントを作る", signup_path, class: "btn btn-dark mx-auto signUpButton" %>
<div class="space">
  <p style="color:white; text-align:center; padding-top:50px;">Memoripの機能についての詳しい説明は<%= link_to "こちら", about_path, id:'desc_memorip'  %></p>
</div>

</div>
