<h1>Memoripとは</h1>
<h3 style="text-align:center;">このサイトでは旅行プランの作成と共有が簡単にできます！</h3>
<div class='container'>
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div class="row">
          <div class="col-12">
          <h4>直感的にプランを作成！</h4>
          <p>Memoripではアカウントの有無に関わらず旅行の行き先などを入力することで旅行プランを簡単に作成出来ます。また、行き先がマップに表示されるので目的地間の距離や位置関係がわかり非常に便利です！</p>
          </div>
          <div class="col-12">
            <ul>
              <li>aaaaaa</li>
              <li>aaaaaa</li>
              <li>aaaaaa</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="row">
          <div class="col-12">
          <h4>簡単にプランを共有！</h4>
          <p>Memoripではアカウントの有無に関わらず作成した旅行プランをSNSのように投稿する事が出来ます。アカウントを作成すれば他のアカウントをフォローすることも出来るので共有しやすくなります！</p>
          </div>
          <div class="col-12">
            <ul>
              <li>aaaaa</li>
              <li>aaaa</li>
              <li>aaaa</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
</div>
