<h1>Memoripとは</h1>
<h3 style="text-align:center; margin: 50px 10px 40px 10px;">Memoripは、無料で使える旅行プランの作成&投稿サイトです。</h3>
<div style="text-align:center; margin: 50px 0px 20px 0px;">
  <img src="/memoriphome.png" style="width:60%; height:80%;" />
</div>
<div class='container'>
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div class="row">
          <div class="col-12">
          <h4 style="margin: 30px 0px 20px 0px;">①旅行プラン作成機能について</h4>
          <p>旅行プラン作成機能の最大の特長は、マップで行き先の位置を把握しつつ簡単にプランを作成出来る点です。また行き先の画像も添付出来るので内容を充実させやすいですし、アカウント登録無しでもご利用いただけます。</p>
          <p>プラン作成機能は以下のようなニーズにお応えする機能です！</p>
          </div>
          <div class="col-12">
            <ul>
              <li>これからの旅行のしおりを作成したい</li>
              <li>既に行った旅行の思い出を残したい</li>
              <li>旅行中にしおりをいつでも見られるようにしたい</li>
              <li>旅行記を気軽に作成したい</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="row">
          <div class="col-12">
          <h4 style="margin: 30px 0px 20px 0px;">②旅行プラン投稿機能について</h4>
          <p>旅行プラン投稿機能の最大の特長は、誰とでも簡単にプランを共有できる点です。また検索機能もあるので実際のプランの中から自分にぴったりの物を見つけられますし、アカウント登録すれば投稿者をフォローすることも出来ます。</p>
          <p>プラン投稿機能は以下のようなニーズにお応えする機能です！</p>
          <div class="col-12">
            <ul>
              <li>これからの旅行のしおりを共有したい</li>
              <li>既に行った旅行の思い出を共有したい</li>
              <li>他の人が実際に行った旅行プランを参考にしたい</li>
              <li>他の旅行好きたちに情報提供したい</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
</div>
