<img src="https://www.club-t.com/special/theme/aruku/yukiyama-hajimetai/images/slide_02.jpg" class="img-fluid" alt="Responsive image" id='background'>


<h3 class='center' style="margin-top:10px">このサイトでは旅行記録の共有、旅行の企画が簡単にできます！</h3><br>



<div class='container'>
  <div class='row'>
    <div class='col-6 ' >
      <div class="card bg-dark text-white">
        <img src="https://mdbootstrap.com/img/Photos/Others/forest-sm.jpg" class="card-img">
        <div class="card-img-overlay">
          <h5 class="card-title">旅行記録の共有</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text">Last updated 3 mins ago</p>
        </div>
      </div>
    </div>
    <div class='col-6'>
      <div class="card bg-dark text-white">
        <img src="https://mdbootstrap.com/img/Photos/Others/forest-sm.jpg" class="card-img" alt="...">
        <div class="card-img-overlay">
          <h5 class="card-title">旅行の企画</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text">Last updated 3 mins ago</p>
        </div>
      </div>
    </div>
  </div>
</div>

<br>

<div class="alert alert-primary" role="alert">
  This is a primary alert—check it out!
</div>



<div class="card" style="width: 18rem;">
  <!-- <img src="..." class="card-img-top" alt="..."> -->
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

<div class="card">
  <div class="card-body">
    This is some text within a card body.
  </div>
</div>
<!-- <div class='container'>
  <div class='row'>
    <div class='col-xs-6 ' >

    <img src="https://mdbootstrap.com/img/Photos/Others/forest-sm.jpg" class="img-fluid " alt="smaple image">
    <div class="view overlay">
    <div class="mask flex-center rgba-red-strong">
        <p class="white-text">Strong overlay</p>
    </div>
</div>
    </div>
    <div class='col-xs-6'>
      <div class="view overlay">
    <img src="https://mdbootstrap.com/img/Photos/Others/forest-sm.jpg" class="img-fluid " alt="smaple image">
    <div class="mask flex-center rgba-red-strong">
        <p class="white-text">Strong overlay</p>
    </div>
</div>
    </div>
  </div>
</div> -->

<!--
<div class="view overlay">
    <img src="https://mdbootstrap.com/img/Photos/Others/forest-sm.jpg" class="img-fluid " alt="smaple image">
    <div class="mask flex-center rgba-red-strong">
        <p class="white-text">Strong overlay</p>
    </div>
</div> -->


<!-- <div class="container">
  <div class="overlay">
    <div class="text">Hello World</div>
  </div>
</div> -->
<br>
<br>
<br>

<!-- <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Dropdown button
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">Action</a>
    <a class="dropdown-item" href="#">Another action</a>
    <a class="dropdown-item" href="#">Something else here</a>
  </div>
</div> -->
