<h1>旅の記録を共有しよう！</h1>
<br>
<h1>このサイトでは旅行記録の共有、旅行の企画が簡単にできます！</h1><br>

<div class='container'>
  <div class='col-md-6' >
    <div class='box'>
    旅行記録の共有
    </div>
  </div>
  <div class='col-md-6'>
    <div class='box'>
      旅行の企画
    </div>
  </div>
<div>

<br>
<br>
<br>
