<h2>gmap</h2>

<!-- 地名入力用のinputを追加 -->
<input id="address" type="textbox" value="TAM東京">

<!-- buttonをクリックしたらcodeAddressを実行　-->
<input type="button" value="移動" onclick="codeAddress()">
<div id='map'>
</div>

<input id="markerAddress" type="textbox" value="東京駅">
<input type="button" value="追加" onclick="addMarker()">

<%= react_component('mapLink') %>
