<h2>地図しおり</h2>
<h2>※地図が表示されない場合はリロードしてください</h2>
<!-- 地名入力用のinputを追加 -->
<div id='mapContainer'>
  <div id='planList'>
    <%= @plan.title %>
  </div>
  <div id='item'>
    <input id="address" type="textbox" value="TAM東京">

    <!-- buttonをクリックしたらcodeAddressを実行　-->
    <input type="button" value="移動" onclick="codeAddress()">
    <div id='map'>
    </div>

    <input id="markerAddress" type="textbox" value="東京駅">
    <input type="button" value="追加" onclick="addMarker()">

    <%= react_component('mapLink') %>

    <div id='markerList'></div>
  </div>
</div>

<%= javascript_include_tag "gmap.js" %>
