<%= javascript_include_tag 'gmap.js' %>
<%= javascript_include_tag 'image_preview.js' %>
<% provide(:title, 'プラン作成') %>
<% provide(:button_text, 'プランを作成する') %>
<% provide(:url, anonymous_user_planup_path) %>
<% provide(:action_name, 'new') %>

<h1>プラン作成</h1>

<%= render 'form' %>
