<div class="plan-info">
  <div class="plan-title">
    <h1>
      <%= @anonymous_user_plan.title %>
    </h1>
  </div>
  <div class="plan-user">
    <h3>名無しさん</h3>
  </div>
  <img src="https://item-shopping.c.yimg.jp/i/n/kabegamiya-honpo_yknk-f-gray-n-lv1237">
  </img>
</div>
<div id="link-wrapper">
  <div class="link-button" id="like-button">
    <a>いいね</a>
  </div>
  <div class="link-button" id="favorite-button">
    <a>お気に入り</a>
  </div>
  <div class="link-button" id="clone-button">
    <%= link_to "クローン/編集", edit_anonymous_user_plan_path %>
  </div>
</div>
<div id='plan-detail'>
  <% if @anonymous_user_plan.destinations.any? %>
    <ol class="destinations">
      <%= render @destinations %>
    </ol>
  <% end %>
</div>
<div id="map">
</div>

<style>
.container{
  padding:0px;
}
</style>
