// Place all the styles related to the AnonymousUserPlans controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.center-button{
  text-align: center;
  button{
    margin-bottom: 10px;
  }
}
// Place all the styles related to the plans controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
ul{
  list-style: none;
}
img{
  vertical-align: baseline;
}
.plan-info{
  h1{
  color:var(--theme-green);
  margin-bottom:0px;
  }
  h3{
    font-size: 18px;
  }
  div{
    img{
    width: 230px;
    height: 230px;
    display: block;
    margin: 0 auto;
    }
  }
}
.plan-user{
  text-align:right;
  padding-right:10px;
  padding-bottom:5px;
  a{
    font-size:18px;
  }
}
.plan-inline-block{
  display: inline-block;
}
.center-button{
  text-align: center;
  button{
    margin-bottom: 10px;
  }
}
.plan-title{
  padding:15px;
}
.plan-info{
  font-size:0;
  h1{
    font-size:24px;
  }
  img{
    width: 100%;
    height: 230px;
  }
}
.link-button{
  height:60px;
  width:100%;
  a{
    line-height:60px;
  }
}
#planThumb{
  margin-left: 0px;
  margin-right: 0px;
  width: 100px;
  text-align: right;
  bottom:40px;
}
#link-wrapper{
  background-color:var(--theme-gray);
  display:flex;
  padding:7px;
}
#like-button{
  border-right:solid 0.5px #c2c2c2;
  text-align: center;
}
#favorite-button{
  border-right: solid 0.5px #c2c2c2;
  text-align: center;
}
#clone-button{
  text-align: center;
}
#plan-detail{
  padding: 0px;
  ol{
    padding-inline-start:0px;
    list-style-type: none;
  }
  li{
    padding:15px;
  }
}
#plan-info{
  width: 200px;
  #plan-location {
    margin-top: 10px;
    background-color: #EEEEEE;
  }
  #plan-user{
    margin-bottom: 10px;
  }
}
#plan-posted-time{
  display: inline-block;
  background-color: #EEEEEE;
}
@media screen and (max-width:414px){
  nav{
    ul{
      font-size: 10px;
    }
  }
  h1{
    font-size: 24px;
  }
  ul{
    padding-left: 0px;
    font-size: 16px;
  }
}
.tabs{
  display: flex;
  justify-content: center;
  li{
    border: 1px solid #ccc;
    border-radius: 2px;
    cursor: pointer;
    padding: 0px 5px;
  }
}
