
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= require_self
 */

 @import "bootstrap";
 @import "custom.scss";
 @import "planning.scss";


/*top page*/
.signUpButton{
  width : 200px;
  display: block;
  margin-top: 2rem;
}

/* トップページ */
.createButton{
  width:50px;
  margin: 0 auto;
  display: block;
}

#linkGenerator{
  display: block;
  label{
    display: block;
  }
}

/* マップページ */
#map{
  height: 400px;
}
#markerAddress{
  margin-top: 20px;
}
#mapContainer{
  display:grid;
  grid-template-columns: 300px 1fr;
}
#planList{
  border-right: solid thin gray;
}
#item{
  margin-left: 20px;
}
