
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= require_self
 */

 @import "bootstrap";
 @import "custom.scss";
 @import "planning.scss";

:root{
  --theme-green: #68bda0;
  --theme-light-green: #c8d627;
  --theme-blue: #6490cd;
  --theme-mid-blue: #44aeea;
  --theme-gray: #f2f4f5;
  --theme-white: #e4f0fc;
}
a{
  color: var(--theme-mid-blue)
}
/*top page*/
#bg-slider {
	height: 100%;
	background-position:center;
	background-size: cover;
	align-items: center;
	justify-content: center;
  margin-left: calc( ( 100% - 100vw ) / 2 );
	margin-right: calc( ( 100% - 100vw ) / 2 );
}

#Sitetitle{
    color: white;
    font-family: 'Tahoma';
    text-align: center;
    font-size: 60px;
    padding: 60px 50px 20px 0px;
}

#Sitetitle:before{
  content: '';
  display: inline-block;
  width: 80px;
  height: 90px;
  background-image: url("jet_white.png");
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: middle;
}

.signUpButton{
  width : 200px;
  display: block;
  margin-top: 2rem;
}
.plan-li{
  list-style: none;
}

#header_layout{
  width: 100%;
  background-color: white;
}

#planDescript_title{
  color: white;
  padding: 14px 0px 0px 5px;
}

#planDescript_title:before{
  content: '';
  display: inline-block;
  width: 50px;
  height: 50px;
  background-image: url("plan.png");
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: middle;
  margin: 0px 10px 10px 0px;
}

#tweetDescript_title{
  color: white;
  padding: 14px 0px 0px 5px;
}

#tweetDescript_title:before{
  content: '';
  display: inline-block;
  width: 50px;
  height: 50px;
  background-image: url("tweet.png");
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: middle;
  margin: 0px 10px 10px 0px;
}

#planDescript{
  color: white;
}

#tweetDescript{
  color: white;
}

.space{
  height: 100px;
}
/* トップページ */
#description{
  margin: 50px 0px 40px 0px;
  color: white;
}

#desc_memorip{
  color: skyblue;
}

#desc_memorip:hover{
  color: red;
}

.createButton{
  width:50px;
  margin: 0 auto;
  display: block;
}

#linkGenerator{
  display: block;
  label{
    display: block;
  }
}


/* マップページ */
#map{
  height: 500px;
}
#markerAddress{
  margin-top: 20px;
}


//マップページ画像ファイル選択
.select_file_image{
  width: 50px;
  height: 45px;
  cursor: pointer;
}

#thumb_design{
  display: flex;
}

#img1{
  cursor: pointer;
}
// PC用地図しおりレイアウト&PC用プラン作成画面
@media screen and (min-width:768px){
  form > ol{
    padding-inline-start: 0px;
  }
  #mapContainer{
    display:grid;
    grid-template-columns: 420px 1fr;
  }
  #planList{
    border-right: solid thin gray;
    padding-right: 10px;
  }
  #item{
    margin: auto 0px auto 20px;;
  }
  #planLink{
    margin-top: 30px;
    text-align: center;
  }
  .plan-submit-button{
    margin-top: 20px;
    grid-row: 2 / 3;
    grid-column: 1 / 3;
  }
}
#planThumb{
  margin-left: 0px;
  margin-right: 0px;
  width: 100px;
  text-align: right;
  bottom:40px;
  img{
    width: 100px;
    height: 100px;
    margin-left: 20px;
  }
}
#planList{
  ol{
    padding-inline-start: 0px;
    button{
      margin-top: 5px;
      margin-bottom: 5px;
    }
  }
  .row{
    margin-top: 0px;
  }
}
/* SP用Home画面ロゴ調整 */
@media screen and (max-width:576px){
  #Sitetitle{
      color: white;
      font-family: 'Tahoma';
      text-align: center;
      font-size: 50px;
      padding: 60px 30px 20px 0px;
  }
}
