
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= require_self
 */

 @import "bootstrap";
 @import "custom.scss";
 @import "planning.scss";


/*top page*/
#home_body{
  width: 100vw;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ddd;
  padding: 40px;
}


#Sitetitle{
    color: white;
    font-family: 'Tahoma';
    text-align: center;
    font-size: 60px;
    padding: 0px 50px 0px 0px;
    position: relative;
    top: 120px;
}

#Sitetitle:before{
  content: '';
  display: inline-block;
  width: 80px;
  height: 90px;
  background-image: url("jet_white.png");
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: middle;
}

.signUpButton{
  width : 200px;
  display: block;
  margin-top: 2rem;
  position: relative;
  top: 350px;
}

#header_layout {
  background-color: white;
}

#planDescript_title{
  color: white;
  position: relative;
  top: 280px;
  background-image: url("plan.png");
  background-size: 44px 44px;
  background-repeat: no-repeat;
  padding: 14px 0px 0px 55px;
}

#tweetDescript_title{
  color: white;
  position: relative;
  top: 280px;
  background-image: url("tweet.png");
  background-size: 40px 40px;
  background-repeat: no-repeat;
  padding: 14px 0px 0px 55px;
}

#planDescript{
  color: white;
  position: relative;
  top: 300px;
  padding-top: 12px;
  padding-left: 10px;
}

#tweetDescript{
  color: white;
  position: relative;
  top: 300px;
  padding-top: 12px;
  padding-left: 10px;
}
/* トップページ */
#description{
  position: relative;
  top:200px;
  margin-bottom: 30px;
  color: white;
}

.createButton{
  width:50px;
  margin: 0 auto;
  display: block;
}

#linkGenerator{
  display: block;
  label{
    display: block;
  }
}

/* マップページ */
#map{
  height: 400px;
}
#markerAddress{
  margin-top: 20px;
}

/* slideshow */
// .slideshow {
//  width: 100%; /* スライドショー幅（PC）*/
//  list-style-type: none;
//  position: relative;
//  display: block;
// }
//
// .slideshow > li {
//  margin:0 auto;
//  opacity: 0;
//  position: absolute;
//  transition: opacity 3s ease-in-out; /*フェード時間・イージング*/
// }
//
// .slideshow > li.showSlide{
//  opacity: 1;
// }
//
// .slideshow > li > img {
//  width : 100%;
//  height: 400px;
//  object-fit: cover;
// }

/* SP用メディアクエリ */
@media screen and (max-width:600px){
 .slideshow{
   width : 100%; /* スライドショー幅（SP）*/
 }
}

// 地図しおり
form > ol{
  padding-inline-start: 0px;
}
#mapContainer{
  display:grid;
  grid-template-columns: 320px 1fr;
}
#planList{
  border-right: solid thin gray;
  padding-right: 10px;
}
#item{
  margin: auto 0px auto 20px;;
}
#planLink{
  margin-top: 30px;
  text-align: center;
}
