// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
ul{
  list-style: none;
  padding-left: 0px;
}
img{
  vertical-align: baseline;
}
#user-posts{
  margin-top: 10px;
}
#plan-abst{
  width: 200px;
  #plan-location {
    margin-top: 10px;
    background-color: #EEEEEE;
  }
  #plan-user{
    margin-bottom: 10px;
  }
  #plan-posted-time{
    display: inline-block;
    background-color: #EEEEEE;
  }
}
#planThumb{
  margin-left: 0px;
  margin-right: 0px;
  width: 100px;
  text-align: right;
  bottom:40px;
}
.plan-inline-block{
  display: inline-block;
}
.plan-index-title{
  color: var(--theme-green);
  font-size:20px;
}
@media screen and (max-width:414px){
  h1{
    font-size: 24px;
  }
}
