<div class="link-button" id="like-button">
  <% if current_user %>
    <% if current_user.liking?(@plan) %>
      <%= render 'unlike' %>
    <% else %>
      <%= render 'like' %>
    <% end %>
  <% else %>
    <%= render 'before_login_like'%>
  <% end %>
</div>

<style>
#like-icon{
  line-height:26px;
}
</style>
