<div class="link-button" id="like-button">
  <% if current_user %>
    <% if current_user.liking?(@plan) %>
      <%= render 'unlike' %>
    <% else %>
      <%= render 'like' %>
    <% end %>
  <% else %>
    <%= link_to login_path do %>
      <div id="like-icon">
        <i class="far fa-heart fa-2x"></i><br/>
        いいね
      </div>
    <% end %>
  <% end %>
</div>

<style>
#like-icon{
  line-height:26px;
}
</style>
