<%= javascript_include_tag 'gmap.js' %>
<% provide(:title, 'プラン編集') %>
<% provide(:button_text, 'プランを更新する') %>
<% provide(:url, plan_path) %>
<% provide(:action_name, 'edit') %>

<h2>地図しおり</h2>

<%= render 'form' %>

<div id="planLink">
  <%= link_to "出来上がったプランを見る", @plan %>
</div>
