<% provide(:title, 'プラン作成') %>
<% provide(:button_text, 'プランを作成する') %>
<% provide(:url, planup_path) %>
<h1>プラン作成</h1>

<div class="row">
  <div class="col-md-6 offset-3">
    <%= render 'form' %>
  </div>
</div>
