<footer class="footer">
  <small>
    © 2019 Bamboo Co.,Ltd.
  </small>
  <nav>
    <ul>
      <li><%= link_to "ホーム",   root_path %></li>
      <li><%= link_to "Memoripとは",   about_path %></li>
      <li><%= link_to "お問い合わせ", contact_path %></li>
    </ul>
  </nav>
</footer>
